@model SAGRISA.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tpago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tpago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lprecios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lprecios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDeuda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDeuda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendedorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendedorNavigation.CodVendedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodCliente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
